
  h1 {
    color: #333;
    text-align: center;
  }
  
  input {
    margin-top: 20px;
  }
  
  .preview-container {
    margin-top: 20px;
  }
  
  .preview-container img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
  }  

  .upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .empty-image-preview {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-left : 80vh
  }
  
  .empty-image-preview p {
    font-size: 1.2rem;
  }
  